<h3>Add questions and choices!</h3>

<form action="/posts" method="post">
  <label for="title">Title of Survey:</label>
  <input type="text" id="title" name="survey[title]"></input>
  <label for="prompt_input">Enter Question:</label>
  <input type="text" id="prompt_input" name="question[prompt]"></input>
  <label for="choice_input">Enter Choices:</label>
  <input type="text" id="choice_input" name="question[prompt]"></input>
  <input type="text" id="choice_input" name="question[prompt]"></input>
  <input type="text" id="choice_input" name="question[prompt]"></input>

  <input type="submit" value="Post Survey"></input>
</form>