<h2><%= @survey.title %></h2>
<form id="answer_question_form" method="get" action="/surveys">
  <ol><% @survey.questions.each do |question| %>
    <li><%= question.prompt %><br>
      <% @question.choices.each do |choice| %>
        <input type="radio" name="choice[text]"> <%= choice.text %><br>
      <% end %>
    </li>
  <% end %>
  </ol>
<input type="submit" value="Submit" class="button">
</form>


