<h1>Sign up for Survey Orangutan to take or create a survey!</h1>
  <form method="post" action="/signup">
    <%= erb :'/partials/_login_signup' %>
    <input type="submit" value="Sign up!"/>
  </form>
